.event-image-card img {
  border-radius: 8px;
  height: 300px;
  object-fit: cover;
  width: 100%;
}

mat-card {
  border-radius: 1rem;
}

.rounded-pill {
  border-radius: 50rem;
}

.price {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}

mat-icon {
  vertical-align: middle;
}

mat-card {
  border: 1px solid #e0e0e0 !important; /* Light gray */
  border-radius: 0.75rem;    /* Rounded corners */
}

.status-scheduled {
  background-color: #2196f3 !important; /* blue */
  color: white !important;
}
.status-cancelled {
  background-color: #f44336 !important; /* red */
  color: white !important;
}
.status-postponed {
  background-color: #ff9800 !important; /* orange */
  color: white !important;
}
.status-completed {
  background-color: #4caf50 !important; /* green */
  color: white !important;
}
