/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.rounded-button {
  border-radius: 15px !important; 
  padding: 6px 16px;
  min-width: 100px;
}
