<mat-card class="event-card" appearance="outlined" (click)="onCardClick(); $event.stopPropagation()">
    <img mat-card-image [src]="event.imageURL" alt="Photo of event" class="card-img-top" />

    <mat-card-content>
        <h3 class="title">
            {{ event.title | slice: 0: 100 }}{{ event.title.length > 100 ? '...' : '' }}
        </h3>

        <p class="description text-justify">
            {{ event.description.length > 75 ? (event.description | slice: 0: 75) + '...' : event.description }}
        </p>

        <div class="info">
            <mat-icon>event</mat-icon>
            <span>{{ event.date | date: 'mediumDate' }} at {{ event.time }}</span>
        </div>

        <div class="info" *ngIf="event.isVirtual; else locationBlock">
            <mat-icon>language</mat-icon>
            <span>Online Event</span>
        </div>
        <ng-template #locationBlock>
            <div class="info">
                <mat-icon>location_on</mat-icon>
                <span>{{ event.location }}</span>
            </div>
        </ng-template>

        <div class="info" *ngIf="event.capacity">
            <mat-icon>group</mat-icon>
            <span>{{ event.bookedCount  }} / {{ event.capacity }} attending</span>
        </div>

        <div class="info">
            <mat-icon>attach_money</mat-icon>
            <span>{{ event.price || 0 }}</span>
        </div>
    </mat-card-content>

    <!-- Footer always visible -->
    <mat-card-actions class="action-buttons d-flex justify-content-end p-3 pt-2">
        <ng-container *ngIf="!isUserAttending(event); else cancelBtn">
            <button mat-raised-button color="primary" (click)="openBookingDialog(event); $event.stopPropagation()">
                Book Now
            </button>
        </ng-container>

        <ng-template #cancelBtn>
            <button mat-raised-button color="warn" (click)="cancelBooking(event); $event.stopPropagation()">
                Cancel Booking
            </button>
        </ng-template>
    </mat-card-actions>
</mat-card>